.elementor-195 .elementor-element.elementor-element-bc88a0e {padding: 0px 0px 0px 0px;}
.elementor-195 .elementor-element.elementor-element-16c19c6 > .elementor-element-populated {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
.elementor-195 .elementor-element.elementor-element-61f3139 .elementor-image img {width: 80%;max-width: 80%;}
.elementor-195 .elementor-element.elementor-element-61f3139 > .elementor-widget-container {margin: 0px 50px 0px 0px;}
#elementor-popup-modal-195 .dialog-message {width: 220px;height: auto;}
#elementor-popup-modal-195 {justify-content: flex-end;align-items: flex-start;}
#elementor-popup-modal-195 .dialog-widget-content {background-color: rgba(2,1,1,0);}
@media (min-width:768px) {.elementor-195 .elementor-element.elementor-element-16c19c6 {width: 100%;}}